@use 'variables.scss' as *;

@media (prefers-color-scheme: light) {
  @import 'day-github-markdown';

  body {
    color: $textColorPrimary !important;
    background: $colorPrimary !important;
  }

  #header {
    background: $colorPrimary;

    #blogTitle {
      display: none;
    }

    #Header1_HeaderTitle {
      color: $textColorPrimary;
    }

    #navigator {
      background: $colorPrimaryDark;

      .blogStats {
        color: $textColorSecondary;
      }

      #navList {
        margin: 0;

        > li > a {
          color: $textColorPrimary;
          &:hover {
            background-color: inherit;
          }
        }
      }
    }
  }

  #mainContent {
    .day {
      background-color: $colorAccent;
      .postTitle {
        > a {
          color: $textColorPrimary;
        }
      }

      .postDesc {
        color: $textColorSecondary;

        a {
          color: $textColorSecondary;
        }
      }

      .postCon {
        > div > a {
          color: $textColorSecondary;
        }
      }
    }

    .feedbackItem {
      color: $textColorPrimary;
      background-color: $colorAccent;

      .feedbackListSubtitle {
        color: $textColorSecondary;

        a {
          color: $textColorSecondary;
        }
      }

      a {
        color: $textColorPrimary;
      }

      .comment_vote {
        > a {
          background-color: $colorPrimary;
        }
      }
    }

    #comment_form {
      #comment_nav {
        a {
          color: $textColorPrimary;
        }
      }

      #commentbox_opt {
        background-color: $colorAccent;
        input,
        a {
          color: $textColorPrimary;
          background-color: $colorPrimary;
        }
      }

      #ad_t2,
      #under_post_card1,
      #under_post_card2 {
        a {
          color: $textColorPrimary;
          background-color: $colorAccent;
        }
      }

      .commentbox_main {
        color: $textColorPrimary;
        background: $colorAccent;

        .commentbox_title {
          span {
            color: $textColorPrimary;
            &.active,
            &:hover {
              border-bottom: 2px solid $night_textColorSecondary;
            }
          }
        }

        #tbCommentBody {
          color: $textColorPrimary;
          background: $colorPrimary;
        }
      }
    }

    .topicListFooter {
      a {
        color: $textColorPrimary;
      }
    }
  }

  #topics {
    color: $textColorPrimary;
    background-color: $colorAccent;

    a {
      color: $textColorPrimary;
    }

    .postBody {
      color: $textColorPrimary;

      #blog_post_info_block {
        #EntryTag,
        #EntryTag a {
          color: $textColorSecondary;
        }

        #green_channel {
          border: 1px dashed $textColorSecondary;

          a {
            color: $textColorPrimary !important;
            background-color: $colorPrimary !important;
          }
        }

        #div_digg {
          > div {
            background-color: $colorPrimary;
            > span {
              color: $textColorPrimary;
            }
          }
        }
      }
    }

    .postDesc {
      color: $textColorSecondary;
      > a {
        color: $textColorSecondary;
      }
    }
  }

  #myposts {
    color: $textColorPrimary;
    background-color: $colorAccent;
    a {
      color: $textColorPrimary;
    }

    .postDesc2 {
      color: $textColorSecondary;
    }
  }

  .entrylist {
    .entrylistItem {
      color: $textColorPrimary;
      background-color: $colorAccent;

      a {
        color: $textColorPrimary;
      }

      .entrylistItemPostDesc {
        color: $textColorSecondary;
        a {
          color: $textColorSecondary;
        }
      }
    }
  }
}
