@use 'node_modules/modern-normalize/modern-normalize.css';
@use '_variables.scss' as *;
@use 'day-style.scss';
@use 'night-style.scss';

body {
  font-family: 'SF Pro SC', 'SF Pro Text', 'SF Pro Icons', 'PingFang SC',
    'Helvetica Neue', 'Luxi Sans', 'Segoe UI', 'Hiragino Sans GB',
    'Microsoft Yahei', sans-serif, 'Apple Logo' !important;

  a {
    text-decoration: none;
  }

  #home {
    max-width: 980px;
    margin: 0 auto;

    #header {
      border-radius: 2px;

      #blogTitle {
        display: none;
      }

      #navigator {
        height: 60px;
        padding: 0 5px;
        font-size: $meta-size;
        #navList {
          float: left;
          height: 100%;
          padding: 0;

          > li {
            display: block;
            float: left;
            > a {
              display: inline-block;
              box-sizing: border-box;
              padding: 22px 14px;
            }
          }
        }

        .blogStats {
          float: right;
          height: 100%;

          > span {
            display: inline-block;
            padding: 22px 10px;
          }
        }
      }
    }

    #main {
      min-width: auto;
    }

    #sideBar {
      display: none;
    }

    #mainContent {
      & .forFlow > .entrylistTitle {
        margin-top: 15px;
      }

      .day {
        margin-top: 15px;
        margin-bottom: auto;
        padding: 15px;
        border-radius: 2px;

        .dayTitle {
          display: none;
        }

        .postTitle {
          font-weight: 400;
          font-size: $title-size;
          border-bottom: none;
        }

        .postCon {
          margin: 15px 0;
          padding: 0;
          font-size: $content-size;
          > div {
            line-height: $content-line-height;
          }
        }

        .postDesc {
          font-size: $meta-size;
          text-align: right;
        }
      }

      .feedback_area_title {
        margin: 0 0 15px 0;
        visibility: hidden;
      }

      .feedbackItem {
        margin-bottom: 1px;
        padding: 15px;
        font-size: $content-size;
        border-radius: 2px;

        .comment_actions a {
          margin-left: 10px;
          padding: 0;
        }
        .feedbackCon {
          margin: 0;
          padding: 0;
          background-image: none;
          border: none;

          .blog_comment_body {
            padding: 10px 0;
          }

          .comment_vote {
            > a {
              display: inline-block;
              margin-left: 10px;
              padding: 5px 8px;
              border-radius: 2px;
            }
          }
        }

        .feedbackManage {
          float: right;
        }
      }

      #comment_form {
        margin: 0;
        #comment_nav {
          margin-top: 15px;
          font-size: $content-size;
        }

        .commentbox_main {
          border: none;
          #tbCommentBody {
            padding: 15px;
            border: none;
          }
        }

        .commentbox_footer,
        .commentbox_title {
          border: none;
        }
      }

      #comment_form_container {
        margin-top: 15px;
        margin-bottom: 40px;
        font-size: $meta-size;

        #commentform_title {
          display: none;
        }

        .commentbox_main {
          width: 100%;
        }

        #tip_comment {
          display: block;
          margin: 10px 0;
          font-size: $meta-size;
        }
      }

      .commentbox_main {
        margin: 0;
      }

      #commentbox_opt {
        margin: 0;
        padding: 10px;
        font-size: $content-size;

        input,
        a {
          display: inline-block;
          width: auto;
          height: auto;
          padding: 5px 10px;
        }

        input {
          margin-right: 10px;
          border: none;
        }
      }

      #ad_t2,
      #under_post_card1,
      #under_post_card2 {
        margin-top: 20px;
        a {
          display: block;
          margin: 0;
          padding: 0 10px;
          font-size: $content-size;
          line-height: $content-line-height;

          & + a {
            margin-top: 1px;
          }
        }
      }

      #cnblogs_c2 {
        margin-top: 20px;
        a {
          display: block;
          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .PostListTitle,
      .entrylistTitle {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: $content-size;
        border: none;
      }

      #myposts {
        margin: 0;

        padding: 10px;
        border-radius: 2px;
        .PostList {
          margin: 0;
          padding: 0;
          font-size: $title-size;
          line-height: $content-line-height;
          border: none;

          .postDesc2 {
            font-size: $meta-size;
            line-height: $content-line-height;
          }
        }

        .pager {
          margin: 0;
        }
      }

      .entrylist {
        .entrylistItem {
          margin: 15px 0 0 0;
          padding: 15px;

          .entrylistPosttitle {
            padding: 0;
            font-weight: 400;
            font-size: $title-size;
            border: none;
          }

          .entrylistPostSummary {
            margin: 15px 0;
            padding: 0;
            font-size: $content-size;
            line-height: $content-line-height;
          }

          .entrylistItemPostDesc {
            font-size: $meta-size;
          }
        }

        .entrylistDescription {
          display: none;
        }
      }
    }

    #footer {
      margin: 15px 0 65px 0;
      text-align: center;
    }

    #topics {
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 15px;
      border-radius: 2px;

      .postTitle {
        float: left;
        width: 82%;
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: $title-size;
        border: none;
      }

      .postBody {
        margin-top: 30px;
        padding: 0;
        font-size: $content-size;
        line-height: $content-line-height;
        border: none;

        #blog_post_info_block {
          margin-top: 15px;

          #EntryTag {
            font-size: $meta-size;
            > a {
              text-decoration: none;
            }
          }

          #green_channel {
            width: 100%;

            a {
              padding: 5px 10px;
              font-weight: normal;
              font-size: $meta-size;
              text-shadow: none;
              background: none;
              border-radius: 2px;
              box-shadow: none;

              img {
                margin: 0;
              }
            }
          }

          #div_digg {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 15%;
            margin: 0;
            text-align: right;
            > div {
              display: block;
              float: left;
              width: auto;
              height: auto;
              margin: 0;
              padding: 2px 8px;
              font-size: $content-size;
              background-image: none;
              border-radius: 2px;

              &.diggit {
                margin-right: 10px;
                &:before {
                  content: '推荐';
                }
              }

              &.buryit {
                &:before {
                  content: '反对';
                }
              }

              &.diggword,
              &.clear {
                display: none;
              }
            }
          }

          #author_profile,
          #post_next_prev {
            display: none;
          }
        }
      }

      .postDesc {
        margin-top: 15px;
        padding: 0;
        font-size: $meta-size;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .blogStats {
    display: none;
  }

  #div_digg {
    > div {
      font-size: $meta-size !important;
      cursor: pointer;
    }
    .diggit {
      margin-right: 0 !important;
      margin-bottom: 5px !important;
    }
  }
}
